<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loiterer.listener.user.mapper.UserMapper">
    <resultMap id="BaseResult" type="com.loiterer.listener.user.entity.User">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="age" jdbcType="INTEGER" property="age" />
    </resultMap>
    <!-- selectAll -->
    <select id="selectAll" resultMap="BaseResult">
        SELECT `id`, `name`, `age` FROM `t_user`
    </select>
</mapper>